html
    head(lang="en")
        meta(charset="UTF-8")
        title Dungeon Scare
        // inject:css
        link(rel="stylesheet" type="text/css" href="/3rdparty/bootstrap/css/bootstrap-theme.css")
        link(rel="stylesheet" type="text/css" href="/3rdparty/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/app/main/style/style.css")
        link(rel="stylesheet/less" type="text/css" href="/app/main/style/head.less")
        // endinject
    body
        div(id="HEAD") Boo!
        // inject:js
        script(  src="/3rdparty/jquery/2.1.4.js")
        script(  src="/3rdparty/bootstrap/js/bootstrap.js")
        script(  src="/3rdparty/easeljs/0.8.1.js")
        script( type="text/typescript" src="/app/main/script/controller.ts")
        script(  src="/3rdparty/typescript/engine.js")
        script(  src="/3rdparty/less/compiler.js")
        script(  src="/3rdparty/typescript/compiler.js")
        // endinject
