html
    head(lang="en")
        meta(charset="UTF-8")
        title Dungeon Scare
        // inject:css
        // endinject
    body
        include /app/main/template/part/layout.jade

        // inject:js
        // endinject
