html
    head(lang="en")
        meta(charset="UTF-8")
        title Dungeon Scare
        // inject:css
        // endinject
    body
        canvas(id="STAGE", width="600", height="300")

        // inject:js
        // endinject
